:root{
  color-scheme: light dark;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  transition : all .5s;
}

body {
  margin : 0;
  padding : 0;
  min-height : 100vh;
}

h1,
h2,
h3{
  margin : 0;
}

p{
  line-height : 1.7
}

img {
  max-width : 100%;
  display : block;
}

nav{
  background : white;
  display : flex;
  color : black;
  align-items : center;
  justify-content : space-between;
  position : sticky;
  top : 0;
  z-index : 99999;
}

.logo-link{
  display : flex;
  align-items : center;
  text-decoration : none;
}

.logo{
  width : 70px;
  height : 30px;
  object-fit : cover;
}

.logo-text{
  position: relative;
  display: block;
  right: 15px;
  /* font-style: italic; */
  font-weight: 400;
  color: #3a82c6;
  font-size : 1.2rem;
  text-decoration : none;
}

.links-container{
  display : flex;
  align-items : center;
  gap : 1.5rem;
  padding : 0 1rem 
}

.links-container > li{
  list-style : none;
}

.links{
  color: black;
  font-size : 1.2rem;
  text-decoration : none
}

.create-btn{
  background : blue;
  color : white;
  font-size : 1rem;
  padding : .5rem 1rem;
  border-radius : 20px;

}

main{
  background-color: #cad1d645;
  min-height : calc(100vh - 50px)
}

.home{
  scroll-snap-type: y mandatory;
}

.home-header,
.home-main{
  scroll-snap-align: center;
}

.home-header{
  background-image : url("./assets/ai-bg.jpg");
  height : 100vh;
  background-size: cover;
  background-repeat : no-repeat;
  background-position : center;
  background-color  : rgba(0,0,0,.5);
  background-blend-mode: darken;
}

.home-main{
  background-color :rgb(60, 44, 181);
  height : 100vh
}

.community-section{
  max-width : 1200px;
  margin : 0 auto;
  padding : 20px;
}

.section-head {
  font-weight : 800;
  font-size : 32px;
}

.section-text{
  font-size : 14px;
  color : #666e75;
  max-width : 500px;
  margin-top : 15px;
}

.form-container{
  margin-top : 16px;
}

.search-results-container{
  margin-top : 20px;
}

.loading-container{
  margin-top : 10px;
  display : flex;
  justify-content : center;
  align-items : center
}

.loading-anim{
  background: transparent;
  width: 70px;
  height : 70px;
  border-radius: 50%;
  border: 5px solid rgba(0,0,0,.1);
  border-top-color: rgba(0,0,0,.6);
  animation: spin .9s linear infinite;
}

@keyframes spin{
  from{
    transform : rotate(0deg)
  }

  to {
    transform : rotate(360deg)
  }
}

.show-result{
  font-weight : medium;
  font-size : 24px;
  color : #666e75;
  margin-bottom : 10px;
}

.result-span {
  color : #222328
}

.result-title{
  margin-top : 20px;
  font-weight : 600;
  color : #6449ff;
  font-size : 27px;
  text-transform: uppercase;
  text-align : center;
}

.cards-container{
  display : grid;
  grid-template-columns : repeat(auto-fit, minmax(250px, 1fr))
}

.post-section{
  max-width : 800px;
  margin : 0 auto;
  padding : 20px;
}

.create-post-form{
  margin-top : 16px;
  max-width : 400px;
}

.form-container{
  display : flex;
  flex-direction : column;
  gap : 5px;
}

.input-wrapper{
  margin-top : 10px;
}


.label-container{
  display : flex;
  align-items : center;
  gap : 2px;
  margin-bottom : 10px;
}

.label{
  display : block;
  font-weight : 400;
  color : rgb(73, 70, 70);
}

.suprise-btn{
  padding : .5rem .7rem;
  border : none;
  outline : none;
  background : blueviolet;
  color : white;
  border-radius : 15px;
  font-size : .7rem;
  margin-left : 10px;
  cursor : pointer;
  transition : all .5s;
}

.suprise-btn:active{
    transform : scale(0.5);
    background : rgb(24, 5, 41);
}

.input{
  background : rgb(245, 255, 255, .4);
  border : 1px solid rgba(224, 214, 214, 0.9);
  outline : none;
  width : 100%;
  padding : .7rem .2rem .7rem .5rem;
  border-radius : 5px;
}

.input:focus-visible{
  border : 1px solid gray;
}

.img-generated-container{
  position : relative;
  background : rgba(234, 227, 227, 0.726);
  color :rgb(27, 25, 25);
  border : 1px solid rgb(225, 220, 220);
  margin-top : 20px;
  border-radius : 10px;
  display : flex;
  justify-content : center;
  align-items : center;
  padding : 5px;
  width : 150px;
  height: 150px;
}

.img-generated-container:focus{
  border: 1px solid rgb(60, 44, 181);
}

.img-generated {
  width : 100%;
  height : 100%;
  object-fit : contain;
}

.preview{
  width : 90px;
  height : 90px;
  object-fit : contain;
  opacity: .4;
}

.loading-img{
  position : absolute;
  inset : 0;
  z-index : 0;
  display : flex;
  align-items:center;
  justify-content: center;
  background-color : rgba(0,0,0,.3);
  border-radius : 10px;
}

.submit-btn-container{
  display : flex;
  gap : 5px; 
  margin-top : 20px;
}

.submit-btn{
  color : white;
  background : blue;
  padding: 0.9rem 1.5rem;
  border-radius: 25px;
  border : none;
  outline : none;
  cursor : pointer;
  width : 100%;
  font-size : 18px;
  transition : all .5s;
}

.submit-btn:active{
  transform : scale(0.7);
  background : rgb(6, 6, 55);
}

.submit-btn:focus-visible{
  border: 2px solid rgb(217, 7, 140);
}

.share-container{
  margin-top : 16px;
}

.share-text{    
  font-size : 14px;
  color : rgb(57 55 55);
}

.share-btn{
  border : none;
  background : blueviolet;
  padding : .8rem .7rem;
  width : 100%;
  color : white;
  border-radius : 25px;
  transition: all .5s;
  cursor : pointer;
}

.share-btn:active{
  transform : scale(0.6);
  background : rgb(17, 3, 30);

}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap : 20px;
  /* height: 100vh; */
}


.card{
  position : relative;
  border-radius: 10px;
  box-shadow : 0px 6px 4px 1px rgba(0,0,0,.2);
  transition: all .4s;
}

.card:hover{
  box-shadow : 1px 7px 7px 4px rgba(0,0,0,.2);
  
}


.card-img {
  width : 100%;
  object-fit : cover;
  border-radius: 10px;
  height: 100%;
}

.card-info{
  background-color: rgb(27, 25, 25);
  position: absolute;
  bottom: 0;
  left: 0;
  max-height : 94.5%;
  width: 90%;
  right: 0;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  flex-direction : column;
  display: none;
  transition: all .5s;
  padding : 10px;
}

.card:hover .card-info{
  display: flex;
}

.card-prompt{
  font-size : 17px;
  line-height: 1.5;
  color : rgba(255,255,255,.7);
  overflow-y : auto;
  margin-bottom: 3px;
}

.card-user{
  margin-top: 5px;
  display : flex;
  justify-content : space-between;
  align-items : center;
  gap : 2px;
}

.card-profile-container{
  display : flex;
  justify-content : center;
  align-items : center;
  gap : 2px;
}

.card-profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(60, 44, 181);
  display : flex;
  justify-content: center;
  align-items: center;
  color : white
}

.card-profile-name{
  color : white;
  font-size : 17px;
  margin : 0;
  line-height: 0;
  padding-left : 5px;
}

.download-btn{
  outline : none;
  border : none;
  background : white;
  width :  30px;
  height : 30px;
  border-radius : 50%;
  padding : 5px;
}

.download-btn:active{
  transform : scale(0.5)
}

.download-img{
  max-width : 100%;
  max-height : 100%;
  display: block;
  border-radius : 50%;
}

@media(min-width : 1000px){
  .card:nth-child(4n + 1) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .section-head {
    font-weight: 800;
    font-size: 52px;
}

.section-text {
    font-size: 17px;
    color: #666e75;
    max-width: 500px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.form-container{
    margin-top : 0;
}
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
